@import "mixin";
@import "variables";

/*styles centering*/
.custom-select {
  font-size: $font-size-base + 2;
  line-height: $line-height-base + 3;
  position: relative;
  max-width: 310px;
  margin-bottom: 20px;

  select {
    display: none;
  }
}

.selected-item {
  font-size: $font-size-base;
  line-height: $line-height-base;
  position: relative;
  padding: 14px 45px 14px 21px;
  background: $white;
  box-shadow: 2px 2px 10px rgba(150, 78, 30, 0.14);
  border-radius: 5px;
  cursor: pointer;
  z-index: 5;

  @include breakpoint($desktop) {
    padding: 17px 45px 17px 28px;
  }
}

.item {
  font-size: $font-size-base + 2;
  line-height: $line-height-base + 2  ;
  padding: 10px 17px 5px;
  cursor: pointer;

  &:hover {
    font-family: $base-font-default;
  }
}

.all-items {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  box-shadow: 2px 2px 10px rgba(150, 78, 30, 0.14);
  border-radius: 0 0 5px 5px;
  background: $white;
}

.all-items-hide {
  display: none;
}
/*end styles centering*/