@import "mixin";
@import "variables";

.contacts-wrap {
  margin-bottom: 73px;

  @include breakpoint($tablet) {
    margin-bottom: 30px;
  }

  h4 {
    font-family: $lato-bold;
    font-size: $font-size-base + 15;
    line-height: $line-height-base + 21;
    margin-bottom: 24px;

    @include breakpoint($desktop) {
      font-family: $lato-regular;
      font-size: $font-size-base + 5;
      line-height: $line-height-base + 6;
      color: $mine-shaft;
    }

    @include breakpoint($mobile) {
      font-size: $font-size-base;
      line-height: $line-height-base;
    }
  }
}

.contact-row {
  display: flex;
  justify-content: space-between;

  @include breakpoint($desktop) {
    align-items: center;
  }
}

.col-info {
  width: 40%;

  @include breakpoint($desktop) {
    width: 55%;
  }

  @include breakpoint($tablet) {
    width: 100%;
  }

  > .info {
    display: block;

    @include breakpoint($desktop) {
      display: none;
    }

    @include breakpoint($mobile) {
      display: block;
    }
  }

  .info {
    &:last-child {
      display: none;

       @include breakpoint($desktop) {
         display: block;
       }

      @include breakpoint($mobile) {
        display: none;
      }
    }
  }
}

.col-map {
  width: 60%;
  display: flex;
  justify-content: flex-end;

  @include breakpoint($desktop) {
    width: 45%;
  }

  @include breakpoint($tablet) {
    display: none;
  }

  .img-area {
    max-width: 739px;
    width: 100%;
    margin-top: -26px;
  }
}

.col-body {
  h3 {
    font-family: $lato-regular;
    font-size: $font-size-base + 2;
    line-height: $line-height-base + 3;
    color: $mine-shaft;
    margin-bottom: 5px;

    @include breakpoint($desktop) {
      font-size: $font-size-base;
      line-height: $line-height-base;
    }

    @include breakpoint($mobile) {
      font-size: $font-size-base - 3;
      line-height: $line-height-base - 3;
    }
  }

  a {
    display: inline-block;
    color: $mine-shaft;
    margin-bottom: 19px;

    @include breakpoint($desktop) {
      margin-bottom: 24px;
    }

    @include breakpoint($mobile) {
      font-size: $font-size-base - 4;
      line-height: $line-height-base - 4;
    }
  }

  p {
    font-family: $base-font-default;
    font-size: $font-size-base - 2;
    margin-bottom: 6px;

    @include breakpoint($desktop) {
      line-height: $line-height-base - 2;
      margin-bottom: 9px;
    }

    @include breakpoint($mobile) {
      font-size: $font-size-base - 4;
      line-height: $line-height-base - 4;
    }
  }

  .holder-text {
    padding-right: 67px;
    margin-bottom: 30px;

    @include breakpoint($desktop) {
      padding: 16px 30px 0 0;
    }

    @include breakpoint($tablet) {
      max-width: 462px;
      width: 100%;
      padding: 17px 0;
      margin-bottom: 9px;
    }

    @include breakpoint($mobile) {
      max-width: 100%;
      padding: 0;
    }
  }

  .holder-btn {
    max-width: 267px;
    width: 100%;

    @include breakpoint($desktop) {
      margin-bottom: 10px;
      max-width: 300px;
    }

    @include breakpoint($mobile) {
      max-width: 100%;
      padding: 0;
    }
  }

    .btn {
      @include border-gradient;

      @include breakpoint($mobile) {
        background: linear-gradient(90deg, #fabb35 0%, #eb800c 100%);
        color: $white;
      }

      &:hover {
        background: linear-gradient(90deg, #fabb35 0%, #eb800c 100%);

        @include breakpoint($mobile) {
          background: $transparent;
        }
      }
  }
}

.ellipse-contacts-position {
  .ellipse-8 {
    top: 4%;
    right: 21%;
    width: 548px;

    @include breakpoint($tablet) {
      display: none;
    }
  }

  .ellipse-3 {
    @include breakpoint($mobile) {
      right: -69%;
    }
  }

  .ellipse-9 {
    @include breakpoint($mobile) {
      bottom: 11%;
      left: -40%;
    }
  }
}
