@import "mixin";
@import "variables";

.accordion-data-processing {
  padding-right: 0;

  @include breakpoint($tablet) {
    padding: 0 15px;
  }

  @include breakpoint($mobile) {
    padding: 0;
  }

  label {
    font-family: $base-font-default;
    font-size: $font-size-base;
    line-height: $line-height-base;
    margin-bottom: 14px;

    @include breakpoint($desktop) {
      padding: 24px 60px;
    }

    @include breakpoint($tablet) {
      padding: 22px 47px;
    }

    @include breakpoint($mobile) {
      min-height: 58px;
      padding: 17px 70px 20px 33px;
    }

    > span {
      display: flex;
      @include breakpoint($desktop) {
        font-family: $base-font-family;
        font-size: $font-size-base;
        line-height: $line-height-base;
      }

      @include breakpoint($mobile) {
        font-size: $font-size-base - 3;
        line-height: $line-height-base - 3;
      }

      .number {
        @include breakpoint($desktop) {
          display: none;
        }
      }
    }

    @include breakpoint($desktop) {
      box-shadow: 3px 3px 9px rgba(0, 0, 0, 0.08);
      background: $white;
    }
  }

  .accordion-content {
    @include breakpoint($desktop) {
      max-height: 0;
    }

    p {
      margin-bottom: 24px;

      @include breakpoint($desktop) {
        font-size: $font-size-base - 2;
        line-height: $line-height-base - 2;
      }

      @include breakpoint($mobile) {
        font-size: $font-size-base - 4;
        line-height: $line-height-base - 4;
      }
    }
  }
}

.accordion-data-wrap {
  margin-bottom: 70px;

  @include breakpoint($tablet) {
    margin-bottom: 50px;
  }

  @include breakpoint($mobile) {
    margin: 0 -25px;
  }
}

/* :checked */
.accordion-data-processing input:checked ~ .accordion-content {
  //max-height: 100vh;
  max-height: 100%;

  @include breakpoint($desktop) {
    padding: 9px 60px;
  }

  @include breakpoint($tablet) {
    padding: 9px 50px;
  }

  @include breakpoint($mobile) {
    padding: 6px 32px;
  }
}


.accordion-data-processing input[type=checkbox] + label::after {
  @include breakpoint($desktop) {
    content: '';
    position: absolute;
    right: 35px;
    top: 31px;
    background-image: url("../images/arrow-accordion.svg");
    background-repeat: no-repeat;
    width: 17px;
    height: 12px;
    filter: contrast(20%);
  }

  @include breakpoint($mobile) {
    content: '';
    position: absolute;
    right: 35px;
    top: 50%;
    margin-top: -6px;
    background-image: url("../images/arrow-accordion.svg");
    background-repeat: no-repeat;
    width: 17px;
    height: 12px;
    filter: contrast(20%);
  }
}

.accordion-data-processing input[type=checkbox]:checked + label>span {
  font-family: $lato-bold;
  @include gradient_text;
}


.accordion-data-processing input[type=checkbox]:checked + label::after {
  transform: rotate(-180deg);
  filter: none;
}