@import "mixin";
@import "variables";


//
//.faq_tab_right, .faq_tab_left, #tab,
//.button_border, .button_border:hover, .button_active,
//.tariff_constructor_button, .ping_select:hover,
//.partners_link_2  {
//  cursor: pointer;
//}
//
//.faq_arrows_block, .blog_arrows_block, .partners_arrows_block {
//  text-align: start;
//  margin-top: 25px;
//  -webkit-user-select: none;
//  -moz-user-select: none;
//  -ms-user-select: none;
//  user-select: none;
//  display: flex;
//}
//
//.faq_tab_left, .blog_tab_left, .partners_tab_left {
//  cursor: pointer;
//  display: inline-block;
//}
//
//.faq_tab_pages, .blog_tab_pages, .partners_tab_pages,
//.partners_tablet_tab_pages {
//  margin: 0 30px;
//  font-size: 17px;
//  font-weight: 300;
//  vertical-align: super;
//  color: #373737;
//  min-width: 56px;
//  display: flex;
//  flex-direction: row;
//  align-items: center;
//  justify-content: center;
//}
//
//.faq_tab_right, .blog_tab_right, .partners_tab_right {
//  cursor: pointer;
//  display: inline-block;
//}
//
///* faq */
//.faq {
//  margin-top: 40px;
//}
//
//.faq_arrow_sm_right {
//  display: inline-block;
//  margin-left: 15px;
//}
//
//.faq_number {
//  font-size: 33px;
//  font-weight: 800;
//}
//
//.faq_text {
//  -webkit-box-flex: 1;
//  -ms-flex-positive: 1;
//  flex-grow: 1;
//  text-align: start;
//  margin-left: 20px;
//  max-width: 600px;
//}
//
//.tabs-content {
//  max-width: 530px;
//  margin-left: 30px;
//}
//
//.tab-item {
//  text-align: start;
//  margin-top: 15px;
//  font-size: 18px;
//  font-weight: 300;
//}
///* faq tabs clear css */
//
//.tab-item, .faq_tabs_list input
//{
//  display: none;
//}
//
//.faq_tabs_list input:checked + label + .tab-item
//{
//  display: block;
//}
//
//.faq_tabs_list input:checked + label .faq_text {
//  font-weight: 600;
//}
//
//
//.faq_tabs_list input:checked + .tab:after
//{
//  content: url("../images/arrow_sm_left_active.svg");
//}
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//@media (max-width: 1024px) {
//  .tab:after {
//    content: url("../images/arrow_tablet_down_nonactive.svg");
//  }
//
//  .faq_tabs_list input:checked + .tab:after
//  {
//    content: url("../images/arrow_tablet_up_active.png");
//  }
//
//  .tab:before {
//    content: "";
//    position: absolute;
//    width: 7px;
//    height: 70px;
//    background: #C4C4C4;
//    top: 0;
//    left: 0;
//    border-radius: 8px 0 0 8px;
//  }
//
//  .faq_tabs_list input:checked + .tab:before {
//    background: linear-gradient(180deg, #EB800C 0%, #FABB35 100%);
//  }
//
//  .faq_number {
//    display: none;
//  }
//
//  .tab-item {
//    position: unset;
//    right: 0;
//    top: 0;
//    width: 80%;
//    margin: 0 auto;
//  }
//
//  .tab {
//    height: 72px;
//    width: 90%;
//    margin: 0 auto 10px;
//  }
//}
//
//
//.faq_tabs_list {
//  height: 500px;
//  overflow: hidden;
//}
//
//.faq_arrows_blog {
//  -webkit-user-select: none;
//  -moz-user-select: none;
//  -ms-user-select: none;
//  user-select: none;
//}
//
//.faq-tabs_labels {
//  display: -webkit-box;
//  display: -ms-flexbox;
//  display: flex;
//  width: 950px;
//  margin: 55px auto 45px;
//  -webkit-box-pack: justify;
//  -ms-flex-pack: justify;
//  justify-content: space-between;
//}
//
//.faq-tabs_label {
//  height: 160px;
//  display: -webkit-box;
//  display: -ms-flexbox;
//  display: flex;
//  -webkit-box-orient: vertical;
//  -webkit-box-direction: normal;
//  -ms-flex-direction: column;
//  flex-direction: column;
//  -webkit-box-pack: space-evenly;
//  -ms-flex-pack: space-evenly;
//  justify-content: space-evenly;
//  -webkit-box-align: center;
//  -ms-flex-align: center;
//  align-items: center;
//  width: 295px;
//  border: 1px solid transparent;
//  border-radius: 15px;
//  background: -webkit-gradient(linear, left top, left bottom, from(#fbf9f8), to(#fbf9f8)) padding-box, /*this is your grey background*/    -webkit-gradient( linear, left top, left bottom, from(#EB800C), to(#FABB35)) border-box;
//  background: -o-linear-gradient(#fbf9f8, #fbf9f8) padding-box, /*this is your grey background*/    -o-linear-gradient( #EB800C 0%, #FABB35 100%) border-box;
//  background: linear-gradient(#fbf9f8, #fbf9f8) padding-box, /*this is your grey background*/    linear-gradient( #EB800C 0%, #FABB35 100%) border-box;
//  cursor: pointer;
//  -webkit-box-shadow: 4px 4px 3px 0 rgba(0, 0, 0, 0.07);
//  -moz-box-shadow: 4px 4px 3px 0 rgba(0, 0, 0, 0.07);
//  box-shadow: 4px 4px 3px 0 rgba(0, 0, 0, 0.07);
//}
//
//.faq-tabs_labels .active {
//  background: #fefefe;
//
//}
//
//.faq-tabs_number {
//  margin-bottom: 10px;
//  font-size: 35px;
//  font-weight: 800;
//  background: -webkit-gradient(linear, left top, left bottom, from(#EB800C), to(#FABB35));
//  background: -o-linear-gradient(top, #EB800C 0%, #FABB35 100%);
//  background: linear-gradient(180deg, #EB800C 0%, #FABB35 100%);
//  -webkit-background-clip: text;
//  -webkit-text-fill-color: transparent;
//}
//
//.faq-tabs_name {
//  font-size: 22px;
//  font-weight: 300;
//  padding: 0 30px;
//  color: #373737;
//  height: 55px;
//}
//
//.faq-tabs_item {
//  display: none;
//}
//
//.faq-tabs_title {
//  font-size: 35px;
//  font-weight: 500;
//  margin: 55px auto;
//}
//
//.faq-tabs_box {
//  display: -webkit-box;
//  display: -ms-flexbox;
//  display: flex;
//  -ms-flex-pack: distribute;
//  justify-content: space-around;
//  -webkit-box-orient: horizontal;
//  -webkit-box-direction: normal;
//  -ms-flex-direction: row;
//  flex-direction: row;
//  -ms-flex-wrap: nowrap;
//  flex-wrap: nowrap;
//  -webkit-box-align: center;
//  -ms-flex-align: center;
//  align-items: center;
//}
//
//.faq-tabs_sub-title {
//  font-size: 25px;
//  font-weight: 400;
//}
//
//.faq-tabs_number-image {
//  vertical-align: middle;
//}
//
//.faq-tabs_card-name {
//  vertical-align: middle;
//  font-weight: 400;
//  font-size: 25px;
//}
//
//.faq-tabs_container {
//  display: -webkit-box;
//  display: -ms-flexbox;
//  display: flex;
//  -webkit-box-align: start;
//  -ms-flex-align: start;
//  align-items: flex-start;
//  -webkit-box-orient: horizontal;
//  -webkit-box-direction: normal;
//  -ms-flex-direction: row;
//  flex-direction: row;
//  -ms-flex-wrap: nowrap;
//  flex-wrap: nowrap;
//}
//
//.faq_tabs_link {
//  max-width: 515px;
//  max-height: 70px;
//  width: 530px;
//  margin: 0 30px 8px 0;
//  padding: 20px 30px;
//  display: -webkit-box;
//  display: -ms-flexbox;
//  display: flex;
//  -webkit-box-orient: horizontal;
//  -webkit-box-direction: normal;
//  -ms-flex-direction: row;
//  flex-direction: row;
//  -ms-flex-wrap: nowrap;
//  flex-wrap: nowrap;
//  -webkit-box-align: center;
//  -ms-flex-align: center;
//  align-items: center;
//  -webkit-box-pack: justify;
//  -ms-flex-pack: justify;
//  justify-content: space-between;
//  -webkit-user-select: none;
//  -moz-user-select: none;
//  -ms-user-select: none;
//  user-select: none;
//  cursor: pointer;
//}
//
//.faq_tabs_arrow_sm_right, .arrow_sm_right {
//  margin-left: 25px;
//}
//
//.faq_tabs_link.active {
//  max-width: 527px;
//}
//
//.faq_tabs_link.active > .faq_tabs_tagline {
//  background: -webkit-gradient(linear, left top, right top, from(#EB800C), to(#FABB35));
//  background: -o-linear-gradient(left, #EB800C 0%, #FABB35 100%);
//  background: linear-gradient(90deg, #EB800C 0%, #FABB35 100%);
//  -webkit-background-clip: text;
//  -webkit-text-fill-color: transparent;
//}
//
//.faq_tabs_tagline {
//  font-size: 20px;
//  font-weight: 400;
//  color: #373737;
//  text-align: start;
//}
//
//.faq_tabs_content {
//  max-width: 650px;
//}
//
//.faq_tabs_text {
//  display: none;
//  text-align: start;
//  font-size: 20px;
//  font-weight: 300;
//  color: #000000;
//  line-height: 24px;
//}
//
//.faq-tabs_button-box {
//  margin-top: 50px;
//  width: 300px;
//  height: 58px;
//  line-height: 58px;
//}
//
//.faq-tabs_button {
//  font-weight: 400;
//  font-size: 22px;
//}
//
//
//.faq_mobile,
//.faq-tabs_mobile_item_2,
//.faq-tabs_mobile_item_3 {
//  display: none;
//}
///* -------------------------------------------------- TABLET VERSION ------------------------------------------------ */
//
///*@media (max-width: 1324px) {*/
//@media (max-width: 1024px) {
//    /*.faq, */
//  .blog, .partners,
//  .footer_9689, .footer_9689_logo
//  {
//    display: none;
//  }
//
//  /*.faq_mobile, */
//  .blog_mobile, .partners_mobile,
//  .footer_9689_logo_mobile,
//  .navbar_box_tablet, .footer_9689_tablet
//  {
//    display: block;
//  }
//
//
//
//
//
//  /* faq tablet */
//  .faq_mobile {
//    margin-bottom: 40px;
//  }
//
//
//  /*.faq_text {*/
//  .faq_mobile_text {
//    position: relative;
//    height: 70px;
//    font-size: 20px;
//    font-weight: 300;
//    padding: 0 18px 0 23px;
//    border-radius: 8px;
//    box-shadow: 3px 3px 9px rgba(137, 61, 7, 0.16);
//    display: flex;
//    align-items: center;
//    background: #fff;
//    margin: 5px 25px;
//  }
//
//  /*.faq_mobile .faq_text:before {*/
//  .faq_mobile .faq_mobile_text:before {
//    content: "";
//    position: absolute;
//    width: 7px;
//    height: 70px;
//    background: #C4C4C4;
//    top: 0;
//    left: 0;
//    border-radius: 8px 0 0 8px;
//  }
//
//  /*.faq_mobile .active-accordion .faq_text:before {*/
//  .faq_mobile .active-accordion .faq_mobile_text:before {
//    content: "";
//    position: absolute;
//    width: 7px;
//    height: 70px;
//    background: linear-gradient(180deg, #EB800C 0%, #FABB35 100%);
//    top: 0;
//    left: 0;
//    border-radius: 8px 0 0 8px;
//  }
//
//  /*.faq_text:after {*/
//  .faq_mobile_text:after {
//    content: url("../images/arrow_tablet_down_nonactive.svg");
//    position: absolute;
//    top: 0;
//    right: 0;
//    padding: 23px;
//  }
//
//  /*.accordion-header.active-accordion .faq_text:after {*/
//  .accordion-header.active-accordion .faq_mobile_text:after {
//    content: url("../images/arrow_tablet_up_active.png");
//  }
//
//
//
//
//  /* faq tablet carousel */
//  .faq_arrows_block {
//    justify-content: center;
//  }
//
//  .faq_mobile_slider_arrows {
//    display: none;
//  }
//}
//
///* -------------------------------------------------- END TABLET VERSION -------------------------------------------- */
//
///* -------------------------------------------------- MOBILE VERSION ------------------------------------------------ */
//
//@media (max-width: 768px) {
//  .navbar_logo, .navbar_box, .benefits,
//    /*.faq, */
//  .blog, .partners, .footer_9689_logo,
//  .faq-tabs_item_2, .faq-tabs_item_3, .footer_9689_tablet
//  {
//    display: none;
//  }
//
//  .navbar_logo_mobile, .navbar_menu_mobile, .lang_mobile,
//  .benefits_mobile,
//    /*.faq_mobile, */
//  .faq-tabs_mobile_item_2,
//  .faq-tabs_mobile_item_3 {
//    display: block;
//  }
//
//
//
//
//
//
//  /* faq mobile */
//  .faq_mobile {
//    margin-bottom: 40px;
//  }
//
//  .faq_mobile_text {
//    position: relative;
//    height: 70px;
//    font-size: 15px;
//    font-weight: 300;
//    padding: 0 18px 0 23px;
//    border-radius: 8px;
//    box-shadow: 3px 3px 9px rgba(137, 61, 7, 0.16);
//    display: flex;
//    align-items: center;
//    background: #fff;
//    margin: 5px 25px;
//  }
//
//  .faq_mobile .faq_mobile_text:before {
//    content: "";
//    position: absolute;
//    width: 7px;
//    height: 70px;
//    background: #C4C4C4;
//    top: 0;
//    left: 0;
//    border-radius: 8px 0 0 8px;
//  }
//
//  .faq_mobile .active-accordion .faq_mobile_text:before {
//    content: "";
//    position: absolute;
//    width: 7px;
//    height: 70px;
//    background: linear-gradient(180deg, #EB800C 0%, #FABB35 100%);
//    top: 0;
//    left: 0;
//    border-radius: 8px 0 0 8px;
//  }
//
//
//  .accordion-header.active-accordion .faq_mobile_text{
//    font-weight: 400;
//  }
//
//  .faq_mobile_text:after {
//    display: none;
//  }
//
//  .accordion-header.active-accordion .faq_mobile_text:after {
//    display: none;
//  }
//
//
//  /* end faq mobile accordion */
//
//  /* faq mobile carousel */
//  .faq_arrows_block {
//    display: none;
//  }
//
//  .faq_mobile_slider_arrows {
//    display: block;
//  }
//
//  .faq_mobile_slider_dots_box {
//    height: 30px;
//    width: 140px;
//    display: inline-block;
//    position: relative;
//    top: -23px;
//    left: 6px;
//  }
//
//  .faq_mobile_slider_right_arrow,
//  .faq_mobile_slider_left_arrow {
//    cursor: pointer;
//    padding: 20px;
//  }
//
//  .faq_mobile_slider_dots_box .slick-dots li button:before {
//    content: '';
//    border-radius: 50%;
//    opacity: 1;
//    border: 1px solid #848484;
//    width: 12px;
//    height: 12px;
//  }
//
//  .slick-dots li.slick-active button:before {
//    background: linear-gradient(90deg, #EB800C 0%, #FABB35 100%);
//    border: none;
//  }
//}
//
//
//
//@media (max-width: 1334px) {
//  .faq-tabs_box {
//    display: block;
//    width: 100%;
//    max-width: 800px;
//    margin: 0 auto;
//  }
//  .faq-tabs_card {
//    width: 50%;
//    float: left;
//  }
//
//}
//
//@media (max-width: 1130px){
//
//  /* faq-tabs */
//  .faq-tabs_labels {
//    width: 100%;
//    margin: 30px auto;
//    flex-direction: column;
//    align-items: center;
//  }
//
//  .faq-tabs_label {
//    margin: 5px 0;
//    width: 90%;
//    max-width: 500px;
//    height: unset;
//  }
//
//  .faq-tabs_name {
//    height: unset;
//    font-size: 18px;
//  }
//
//  .faq-tabs_number {
//    margin-top: 15px;
//    font-size: 25px;
//  }
//
//  /* 1 tab content */
//
//  .faq-tabs_name {
//    margin-bottom: 20px;
//    font-size: 18px;
//  }
//
//  .faq-tabs_title {
//    font-size: 20px;
//    margin: 35px auto;
//  }
//
//  .faq-tabs_box {
//    flex-wrap: wrap;
//  }
//
//  .faq-tabs_card-name {
//    font-size: 18px;
//  }
//
//  .faq-tabs_button-box {
//    margin: 10px auto 30px;
//    max-width: 250px;
//  }
//
//  .faq-tabs_card-image {
//    max-width: 100%;
//  }
//
//  .faq-tabs_button {
//    font-size: 20px;
//  }
//
//  /* end 1 tab content */
//
//  /* 2 tab content */
//  .faq-tabs_container {
//    justify-content: center;
//  }
//
//  .faq_tabs_link {
//    position: relative;
//    width: 100%;
//    min-width: 290px;
//    border-radius: unset;
//    max-width: 750px;
//    padding-right: 64px;
//  }
//
//  .faq_tabs_mobile_text {
//    padding: 20px 30px;
//    display: none;
//    text-align: start;
//    font-size: 16px;
//    font-weight: 300;
//    color: #000000;
//    line-height: 24px;
//  }
//
//  /* 2 tab content accordion */
//  .faq_tabs_link:before {
//    content: url("../images/arrow_services_down_nonactive.svg");
//    position: absolute;
//    top: 0;
//    right: 0;
//    padding: 23px;
//  }
//
//  .faq_tabs_link:after {
//    content: "";
//    position: absolute;
//    top: 0;
//    right: 64px;
//    height: 64px;
//    width: 1px;
//    background: #E7E7E7;
//  }
//
//  .faq-tabs_mobile_box.active .faq_tabs_mobile_text {
//    display: block;
//  }
//
//  .faq-tabs_mobile_box.active .faq_tabs_link:before {
//    content: url("../images/arrow_services_up_active.png");
//  }
//
//  .faq-tabs_mobile_container.active .tabs_text {
//    display: block;
//  }
//
//  .faq-tabs_mobile_container.active .tabs_link:before {
//    content: url("../images/arrow_services_up_active.png");
//  }
//
//  #faq_tabs_list input:checked + label + .tab-item {
//    display: block;
//    height: 100%;
//    overflow: auto;
//    margin-top: 0;
//  }
//}
//
//@media (max-width: 680px) {
//  .faq-tabs_box {
//    display: block;
//    width: 100%;
//    float: left;
//  }
//  .faq-tabs_card {
//    width: 100%;
//    float: left;
//  }
//
//}
//
///* faq */
//.tab {
//  width: 50%;
//  margin: 0 30px 10px 0;
//  font-size: 22px;
//  font-weight: 300;
//  display: -webkit-box;
//  display: -ms-flexbox;
//  display: flex;
//  -webkit-box-orient: horizontal;
//  -webkit-box-direction: normal;
//  -ms-flex-direction: row;
//  flex-direction: row;
//  -ms-flex-wrap: nowrap;
//  flex-wrap: nowrap;
//  -webkit-box-align: center;
//  -ms-flex-align: center;
//  align-items: center;
//  -webkit-box-pack: justify;
//  -ms-flex-pack: justify;
//  justify-content: flex-start;
//  padding: 20px 30px;
//  text-align: start;
//  box-sizing: border-box;
//}
//
//.faq {
//  margin-top: 100px;
//  float: left;
//  width: 100%;
//}
//
//.faq_arrow_sm_right {
//  display: inline-block;
//  margin-left: 15px;
//}
//
//.faq_number {
//  font-size: 33px;
//  font-weight: 800;
//}
//
//.faq_text {
//  -webkit-box-flex: 1;
//  -ms-flex-positive: 1;
//  flex-grow: 1;
//  text-align: start;
//  margin-left: 20px;
//  max-width: 530px;
//}
//
///* faq clear css */
//.tab-item,
//#faq_tabs_list input
//{
//  display: none;
//}
//
//.faq_text {
//  font-size: 22px;
//  font-weight: 300;
//}
//
//#faq_tabs_list input:checked + label + .tab-item
//{
//  display: block;
//}
//
//#faq_tabs_list input:checked + label .faq_text
//{
//  font-weight: 400;
//}
//
//.tabs-wrapper {
//  position: relative;
//}
//
//.tab-item {
//  position: absolute;
//  right: 0;
//  top: 0;
//  width: 47%;
//  font-size: 18px;
//}
//
//.tab {
//  position: relative;
//  cursor: pointer;
//}
//
//.tab:after {
//  content: url("../images/arrow_sm_right.svg");
//  position: absolute;
//  top: 30px;
//  right: 20px;
//}
//
//.faq_tabs_section {
//  user-select: none;
//}
//
//#faq_tabs_list {
//  width: 100%;
//  height: 465px;
//  overflow: hidden;
//}
//
//#faq_tabs_list input:checked + .tab:after
//{
//  content: url("../images/arrow_sm_left_active.svg");
//}
//
//.faq_arrows_block {
//  margin-top: 0;
//}
//
//.faq_tab_pages {
//  margin: 0;
//}
//
//.faq_tab_right,
//.faq_tab_left {
//  padding: 25px;
//}
//
//@media (max-width: 1024px) {
//  #faq_tabs_list {
//    height: 590px;
//  }
//
//  .tab:before {
//    content: "";
//    position: absolute;
//    width: 7px;
//    height: 100%;
//    background: #C4C4C4;
//    top: 0;
//    left: 0;
//    border-radius: 8px 0 0 8px;
//  }
//
//  .tab:after {
//    content: url("../images/arrow_tablet_down_nonactive.svg");
//    top: 25px;
//  }
//
//  #faq_tabs_list input:checked + .tab:after
//  {
//    content: url("../images/arrow_tablet_up_active.png");
//  }
//
//  #faq_tabs_list input:checked + .tab:before {
//    background: linear-gradient(180deg, #EB800C 0%, #FABB35 100%);
//  }
//
//  .faq_number {
//    display: none;
//  }
//
//  .tab-item {
//    height: 300px;
//    overflow-x: auto;
//    position: unset;
//    right: 0;
//    top: 0;
//    width: 85%;
//    margin: 25px auto 10px;
//    padding: 20px;
//  }
//
//  .tab {
//    width: 100%;
//    margin: 0 auto 10px;
//  }
//
//  .faq_text {
//    font-size: 20px;
//    font-weight: 400;
//  }
//
//  .faq_arrows_block {
//    justify-content: center;
//  }
//}
//
//@media (max-width: 768px) {
//  .tab:after {
//    display: none;
//  }
//
//  .faq_text {
//    font-size: 17px;
//  }
//
//  .tab-item {
//    font-size: 16px;
//  }
//
//  #faq_tabs_list input:checked + .tab:after
//  {
//    display: none;
//  }
//}
//
//.faq_tabs_section {
//  user-select: none;
//  border: none;
//}
//
//.faq-tabs{
//  margin-bottom:80px;
//}
//
//.faq_tabs_section {
//  user-select: none;
//  border: none;
//}
//
//@media (max-width: 1024px) {
//  .faq {
//    margin-top: 50px;
//  }
//}
//
//
//.faq_tabs_section {
//  user-select: none;
//  border: none;
//}
//
//.tabs_container, .faq-tabs_container .faq_tabs_links {
//  display: block;
//  text-align: left;
//  font-size: 18px;
//}
//.tabs_container b, .faq-tabs_container .faq_tabs_links b{
//  font-weight: 400;
//  font-size: 20px;
//  margin-top: 15px;
//  display: block;
//}
//.faq-tabs_container .faq_tabs_links p{
//  line-height: 21px;
//  font-size: 18px;
//  margin-bottom: 10px;
//}




$color_1: #373737;
$color_2: #000000;

.faq {
  margin-bottom: 68px;
}

.faq_tab_right,
.faq_tab_left {
  cursor: pointer;
  display: inline-block;
  padding: 19px;
  border-radius: 13px;
  border: 1px solid $saffron;
}

#tab {
  cursor: pointer;
}
.button_border {
  cursor: pointer;
  &:hover {
    cursor: pointer;
  }
}
.button_active {
  cursor: pointer;
}
.tariff_constructor_button {
  cursor: pointer;
}
.ping_select {
  &:hover {
    cursor: pointer;
  }
}
.partners_link_2 {
  cursor: pointer;
}
.faq_arrows_block {
  text-align: start;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: flex;
  margin-top: 0;
}
.blog_arrows_block {
  text-align: start;
  margin-top: 25px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: flex;
}
.partners_arrows_block {
  text-align: start;
  margin-top: 25px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: flex;
}
.blog_tab_left {
  cursor: pointer;
  display: inline-block;
}
.partners_tab_left {
  cursor: pointer;
  display: inline-block;
}
.faq_tab_pages {
  margin: 0 10px;
  font-size: 17px;
  font-weight: 300;
  vertical-align: super;
  color: $color_1;
  min-width: 56px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.blog_tab_pages {
  margin: 0 30px;
  font-size: 17px;
  font-weight: 300;
  vertical-align: super;
  color: $color_1;
  min-width: 56px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.partners_tab_pages {
  margin: 0 30px;
  font-size: 17px;
  font-weight: 300;
  vertical-align: super;
  color: $color_1;
  min-width: 56px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.partners_tablet_tab_pages {
  margin: 0 30px;
  font-size: 17px;
  font-weight: 300;
  vertical-align: super;
  color: $color_1;
  min-width: 56px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.blog_tab_right {
  cursor: pointer;
  display: inline-block;
}
.partners_tab_right {
  cursor: pointer;
  display: inline-block;
}
.faq {
  margin-top: 55px;
  float: left;
  width: 100%;
}
.faq_arrow_sm_right {
  display: inline-block;
  margin-left: 15px;
}
.faq_number {
  font-family: $lato-extra-bold;
  font-size: $font-size-base + 10;
  line-height: $line-height-base + 12;
  background: linear-gradient(180deg, #DF6418 0%, #FABB35 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.faq_text {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  margin-left: 25px;
  flex-grow: 1;
  text-align: left;
}
.tabs-content {
  max-width: 530px;
  margin-left: 30px;
}
.tab-item {
  text-align: start;
  font-size: $font-size-base - 3;
  line-height: $line-height-base - 3;
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  width: 40%;
}
.faq_tabs_list {
  margin-bottom:  28px;
  input {
    display: none;

    &:checked {
      + {
        label {
          + {
            .tab-item {
              display: block;
            }
          }
          .faq_text {
            font-weight: 600;
          }
        }
        .tab {
          &:after {
            content: url("../images/pointer-right.svg");
          }
        }
      }
    }
  }
  height: 500px;
  overflow: hidden;
}
.faq_arrows_blog {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.faq-tabs_labels {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 950px;
  margin: 55px auto 45px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  .active {
    background: #fefefe;
  }
}
.faq-tabs_label {
  height: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 295px;
  border: 1px solid transparent;
  border-radius: 15px;
  background: -webkit-gradient(linear, left top, left bottom, from(#fbf9f8), to(#fbf9f8)) padding-box,  -webkit-gradient( linear, left top, left bottom, from(#EB800C), to(#FABB35)) border-box;
  background: -o-linear-gradient(#fbf9f8, #fbf9f8) padding-box,  -o-linear-gradient( #EB800C 0%, #FABB35 100%) border-box;
  background: linear-gradient(#fbf9f8, #fbf9f8) padding-box,  linear-gradient( #EB800C 0%, #FABB35 100%) border-box;
  cursor: pointer;
  -webkit-box-shadow: 4px 4px 3px 0 rgba(0, 0, 0, 0.07);
  -moz-box-shadow: 4px 4px 3px 0 rgba(0, 0, 0, 0.07);
  box-shadow: 4px 4px 3px 0 rgba(0, 0, 0, 0.07);
}
.faq-tabs_number {
  margin-bottom: 10px;
  font-size: 35px;
  font-weight: 800;
  background: -webkit-gradient(linear, left top, left bottom, from(#EB800C), to(#FABB35));
  background: -o-linear-gradient(top, #EB800C 0%, #FABB35 100%);
  background: linear-gradient(180deg, #EB800C 0%, #FABB35 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.faq-tabs_name {
  font-size: 22px;
  font-weight: 300;
  padding: 0 30px;
  color: $color_1;
  height: 55px;
}
.faq-tabs_item {
  display: none;
}
.faq-tabs_title {
  font-size: 35px;
  font-weight: 500;
  margin: 55px auto;
}
.faq-tabs_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.faq-tabs_sub-title {
  font-size: 25px;
  font-weight: 400;
}
.faq-tabs_number-image {
  vertical-align: middle;
}
.faq-tabs_card-name {
  vertical-align: middle;
  font-weight: 400;
  font-size: 25px;
}
.faq-tabs_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;

  .faq_tabs_links {
    display: block;
    text-align: left;
    font-size: 18px;

    b {
      font-weight: 400;
      font-size: 20px;
      margin-top: 15px;
      display: block;
    }

    p {
      line-height: 21px;
      font-size: 18px;
      margin-bottom: 10px;
    }
  }
}
.faq_tabs_link {
  max-width: 515px;
  max-height: 70px;
  width: 530px;
  margin: 0 30px 8px 0;
  padding: 20px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}
.faq_tabs_arrow_sm_right {
  margin-left: 25px;
}
.arrow_sm_right {
  margin-left: 25px;
}
.faq_tabs_link.active {
  max-width: 527px;
  >.faq_tabs_tagline {
    background: -webkit-gradient(linear, left top, right top, from(#EB800C), to(#FABB35));
    background: -o-linear-gradient(left, #EB800C 0%, #FABB35 100%);
    background: linear-gradient(90deg, #EB800C 0%, #FABB35 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
.faq_tabs_tagline {
  font-size: 20px;
  font-weight: 400;
  color: $color_1;
  text-align: start;
}
.faq_tabs_content {
  max-width: 650px;
}
.faq_tabs_text {
  display: none;
  text-align: start;
  font-size: 20px;
  font-weight: 300;
  color: $color_2;
  line-height: 24px;
}
.faq-tabs_button-box {
  margin-top: 50px;
  width: 300px;
  height: 58px;
  line-height: 58px;
}
.faq-tabs_button {
  font-weight: 400;
  font-size: 22px;
}
.faq_mobile {
  display: none;
}
.faq-tabs_mobile_item_2 {
  display: none;
}
.faq-tabs_mobile_item_3 {
  display: none;
}
.tab {
  width: 55%;
  margin: 0 30px 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: flex-start;
  padding: 25px 43px 20px 37px;
  text-align: start;
  box-sizing: border-box;
  position: relative;
  cursor: pointer;
  background: $spring-wood-two;
  box-shadow: 3px 3px 9px rgba(0, 0, 0, 0.08);
  border-radius: 5px;

  //&:after {
  //  content: '';
  //  position: absolute;
  //  top: 30px;
  //  right: 20px;
  //  background: url("../images/pointer-right.svg");
  //  width: 36px;
  //  height: 16px;
  //}
}
#faq_tabs_list {
  input {
    display: none;

    &:checked {
      + {
        label {
          width: 57%;
          + {
            .tab-item {
              display: block;
            }
          }
          .faq_number {
            background: linear-gradient(180deg, #DF6418 0%, #FABB35 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-fill-color: transparent;
          }

          .faq_text {
            font-family: $lato-regular;
            font-size: $font-size-base + 2;
            line-height: $line-height-base + 3;
          }
        }
        .tab {
          &:after {
            content: url("../images/pointer-right.svg");
          }
        }
      }
    }
  }
  width: 100%;
  height: 465px;
  overflow: hidden;
}
.tabs-wrapper {
  position: relative;
  margin-bottom: 30px;
}
.faq_tabs_section {
  user-select: none;
  border: none;

  .scroll {
    height: 460px;
  }
}

.faq-tabs {
  margin-bottom: 80px;
}
.tabs_container {
  display: block;
  text-align: left;
  font-size: 18px;
  b {
    font-weight: 400;
    font-size: 20px;
    margin-top: 15px;
    display: block;
  }
}
@media (max-width: 1024px) {
  .faq_tabs_list {
    input {
      &:checked {
        + {
          label {
            .faq_text {
              font-weight: 400;
            }
          }
          .tab {
            &:after {
              content: url("../images/arrow_tablet_up_active.png");
            }
            &:before {
              background: linear-gradient(180deg, #EB800C 0%, #FABB35 100%);
            }
          }
        }
      }
    }
  }
  .tab {
    &:after {
      content: url("../images/arrow_tablet_down_nonactive.svg");
      content: url("../images/arrow_tablet_down_nonactive.svg");
      top: 25px;
    }
    &:before {
      content: "";
      position: absolute;
      width: 7px;
      background: #C4C4C4;
      top: 0;
      left: 0;
      border-radius: 8px 0 0 8px;
      width: 7px;
      height: 100%;
      background: #C4C4C4;
      top: 0;
      left: 0;
      border-radius: 8px 0 0 8px;
    }
    height: 72px;
    margin: 0 auto 10px;
    width: 100%;
  }
  .faq_number {
    display: none;
  }
  .tab-item {
    position: unset;
    right: 0;
    top: 0;
    height: 300px;
    overflow-x: auto;
    width: 85%;
    margin: 25px auto 10px;
    padding: 20px;
  }
  .blog {
    display: none;
  }
  .partners {
    display: none;
  }
  .footer_9689 {
    display: none;
  }
  .footer_9689_logo {
    display: none;
  }
  .blog_mobile {
    display: block;
  }
  .partners_mobile {
    display: block;
  }
  .footer_9689_logo_mobile {
    display: block;
  }
  .navbar_box_tablet {
    display: block;
  }
  .footer_9689_tablet {
    display: block;
  }
  .faq_mobile {
    margin-bottom: 40px;
    .faq_mobile_text {
      &:before {
        content: "";
        position: absolute;
        width: 7px;
        height: 70px;
        background: #C4C4C4;
        top: 0;
        left: 0;
        border-radius: 8px 0 0 8px;
      }
    }
    .active-accordion {
      .faq_mobile_text {
        &:before {
          content: "";
          position: absolute;
          width: 7px;
          height: 70px;
          background: linear-gradient(180deg, #EB800C 0%, #FABB35 100%);
          top: 0;
          left: 0;
          border-radius: 8px 0 0 8px;
        }
      }
    }
  }
  .faq_mobile_text {
    position: relative;
    height: 70px;
    font-size: 20px;
    font-weight: 300;
    padding: 0 18px 0 23px;
    border-radius: 8px;
    box-shadow: 3px 3px 9px rgba(137, 61, 7, 0.16);
    display: flex;
    align-items: center;
    background: #fff;
    margin: 5px 25px;
    &:after {
      content: url("../images/arrow_tablet_down_nonactive.svg");
      position: absolute;
      top: 0;
      right: 0;
      padding: 23px;
    }
  }
  .accordion-header.active-accordion {
    .faq_mobile_text {
      &:after {
        content: url("../images/arrow_tablet_up_active.png");
      }
    }
  }
  .faq_arrows_block {
    justify-content: center;
  }
  .faq_mobile_slider_arrows {
    display: none;
  }
  #faq_tabs_list {
    height: 590px;
    input {
      &:checked {
        + {
          .tab {
            &:after {
              content: url("../images/arrow_tablet_up_active.png");
            }
            &:before {
              background: linear-gradient(180deg, #EB800C 0%, #FABB35 100%);
            }
          }
        }
      }
    }
  }
  .faq_text {
    font-size: 20px;
    font-weight: 400;
  }
  .faq {
    margin-top: 50px;
  }
}
@media (max-width: 768px) {
  .navbar_logo {
    display: none;
  }
  .navbar_box {
    display: none;
  }
  .benefits {
    display: none;
  }
  .blog {
    display: none;
  }
  .partners {
    display: none;
  }
  .footer_9689_logo {
    display: none;
  }
  .faq-tabs_item_2 {
    display: none;
  }
  .faq-tabs_item_3 {
    display: none;
  }
  .footer_9689_tablet {
    display: none;
  }
  .navbar_logo_mobile {
    display: block;
  }
  .navbar_menu_mobile {
    display: block;
  }
  .lang_mobile {
    display: block;
  }
  .benefits_mobile {
    display: block;
  }
  .faq-tabs_mobile_item_2 {
    display: block;
  }
  .faq-tabs_mobile_item_3 {
    display: block;
  }
  .faq_mobile {
    margin-bottom: 40px;
    .faq_mobile_text {
      &:before {
        content: "";
        position: absolute;
        width: 7px;
        height: 70px;
        background: #C4C4C4;
        top: 0;
        left: 0;
        border-radius: 8px 0 0 8px;
      }
    }
    .active-accordion {
      .faq_mobile_text {
        &:before {
          content: "";
          position: absolute;
          width: 7px;
          height: 70px;
          background: linear-gradient(180deg, #EB800C 0%, #FABB35 100%);
          top: 0;
          left: 0;
          border-radius: 8px 0 0 8px;
        }
      }
    }
  }
  .faq_mobile_text {
    position: relative;
    height: 70px;
    font-size: 15px;
    font-weight: 300;
    padding: 0 18px 0 23px;
    border-radius: 8px;
    box-shadow: 3px 3px 9px rgba(137, 61, 7, 0.16);
    display: flex;
    align-items: center;
    background: #fff;
    margin: 5px 25px;
    &:after {
      display: none;
    }
  }
  .accordion-header.active-accordion {
    .faq_mobile_text {
      font-weight: 400;
      &:after {
        display: none;
      }
    }
  }
  .faq_arrows_block {
    display: none;
  }
  .faq_mobile_slider_arrows {
    display: block;
  }
  .faq_mobile_slider_dots_box {
    height: 30px;
    width: 140px;
    display: inline-block;
    position: relative;
    top: -23px;
    left: 6px;
    .slick-dots {
      li {
        button {
          &:before {
            content: '';
            border-radius: 50%;
            opacity: 1;
            border: 1px solid #848484;
            width: 12px;
            height: 12px;
          }
        }
      }
    }
  }
  .faq_mobile_slider_right_arrow {
    cursor: pointer;
    padding: 20px;
  }
  .faq_mobile_slider_left_arrow {
    cursor: pointer;
    padding: 20px;
  }
  .slick-dots {
    li.slick-active {
      button {
        &:before {
          background: linear-gradient(90deg, #EB800C 0%, #FABB35 100%);
          border: none;
        }
      }
    }
  }
  .tab {
    &:after {
      display: none;
    }
  }
  .faq_text {
    font-size: 17px;
  }
  .tab-item {
    font-size: 16px;
  }
  #faq_tabs_list {
    input {
      &:checked {
        + {
          .tab {
            &:after {
              display: none;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 1334px) {
  .faq-tabs_box {
    display: block;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
  }
  .faq-tabs_card {
    width: 50%;
    float: left;
  }
}
@media (max-width: 1130px) {
  .faq-tabs_labels {
    width: 100%;
    margin: 30px auto;
    flex-direction: column;
    align-items: center;
  }
  .faq-tabs_label {
    margin: 5px 0;
    width: 90%;
    max-width: 500px;
    height: unset;
  }
  .faq-tabs_name {
    height: unset;
    font-size: 18px;
    margin-bottom: 20px;
  }
  .faq-tabs_number {
    margin-top: 15px;
    font-size: 25px;
  }
  .faq-tabs_title {
    font-size: 20px;
    margin: 35px auto;
  }
  .faq-tabs_box {
    flex-wrap: wrap;
  }
  .faq-tabs_card-name {
    font-size: 18px;
  }
  .faq-tabs_button-box {
    margin: 10px auto 30px;
    max-width: 250px;
  }
  .faq-tabs_card-image {
    max-width: 100%;
  }
  .faq-tabs_button {
    font-size: 20px;
  }
  .faq-tabs_container {
    justify-content: center;
  }
  .faq_tabs_link {
    position: relative;
    width: 100%;
    min-width: 290px;
    border-radius: unset;
    max-width: 750px;
    padding-right: 64px;
    &:before {
      content: url("../images/arrow_services_down_nonactive.svg");
      position: absolute;
      top: 0;
      right: 0;
      padding: 23px;
    }
    &:after {
      content: "";
      position: absolute;
      top: 0;
      right: 64px;
      height: 64px;
      width: 1px;
      background: #E7E7E7;
    }
  }
  .faq_tabs_mobile_text {
    padding: 20px 30px;
    display: none;
    text-align: start;
    font-size: 16px;
    font-weight: 300;
    color: $color_2;
    line-height: 24px;
  }
  .faq-tabs_mobile_box.active {
    .faq_tabs_mobile_text {
      display: block;
    }
    .faq_tabs_link {
      &:before {
        content: url("../images/arrow_services_up_active.png");
      }
    }
  }
  .faq-tabs_mobile_container.active {
    .tabs_text {
      display: block;
    }
    .tabs_link {
      &:before {
        content: url("../images/arrow_services_up_active.png");
      }
    }
  }
  #faq_tabs_list {
    input {
      &:checked {
        + {
          label {
            + {
              .tab-item {
                display: block;
                height: 100%;
                overflow: auto;
                margin-top: 0;
              }
            }
          }
        }
      }
    }
  }
}
@media (max-width: 680px) {
  .faq-tabs_box {
    display: block;
    width: 100%;
    float: left;
  }
  .faq-tabs_card {
    width: 100%;
    float: left;
  }
}
