@import "variables";
@import "mixin";

.header {
  padding: 35px 0;
  margin-bottom: 55px;

  @include breakpoint($desktop) {
    padding: 27px 0;
    margin-bottom: 13px;
  }

  @include breakpoint($tablet) {
    padding: 33px 0;
    margin-bottom: 6px;
  }

  @include breakpoint($mobile) {
    padding: 20px 0;
  }
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include breakpoint($tablet) {
    padding-right: 76px;
  }
}

.entrance {
  span {
    @include breakpoint($desktop) {
      display: none;
    }
  }

  img {
    display: none;
    @include breakpoint($desktop) {
      display: block;
    }
  }
}

.logo {
  display: flex;
  align-items: flex-end;
  margin-right: 20px;

  @include breakpoint($desktop) {
    margin-right: 5px;
  }

  > img {
    margin-right: 7px;

    @include breakpoint($tablet) {
      margin-right: 11px;
    }
  }

  img {
    &:last-child {
      margin-right: 0;
    }
  }
}

.menu-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  @include breakpoint($tablet) {
    position: fixed;
    top: 0;
    right: 200%;
    transition: all .25s ease;
    max-width: 422px;
    min-height: 100%;
    background: $spring-wood;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    z-index: 100;
    overflow: scroll;
  }

  .scroll {
    height: auto;
    padding: 0;
  }
}

.info-user-mobile {
  display: none;

  @include breakpoint($tablet) {
    position: relative;
    z-index: 110;
    width: 100%;
    height: 100%;
    background: $white;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    padding: 44px 0;
  }

  h4 {
    font-family: $lato-regular;
    font-size: $font-size-base - 2;
    line-height: $line-height-base + 2;
    margin-bottom: 6px;
  }

  a {
    font-size: $font-size-base - 2;
    line-height: $line-height-base + 2;
    margin-bottom: 30px;

    &:hover {
      text-decoration: underline;
    }
  }

  .btn {
    @include border-gradient;
    max-width: 277px;
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
  }

  .social-network {
    li {
      &:last-child {
        margin: 0;
      }
    }
  }

  > div {
    margin-bottom: 37px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 12px;

  @include breakpoint($tablet) {
    flex-direction: column;
    width: 100%;
    margin-top: 0;
    padding-top: 108px;
    background: $white;
    z-index: 110;
  }

  li {
    @include breakpoint($desktop) {
      margin: 0 8px;
    }

    @include breakpoint($tablet) {
      width: 100%;
      text-align: center;
      margin: 0;
    }
  }

  .active {
    @include breakpoint($tablet) {
      font-family: $lato-regular;
      background: rgba(255, 255, 255, 0.9);
      box-shadow: -3px 0px 10px rgba(154, 74, 24, 0.15);
      border-bottom: none;
    }
  }

  a {
    display: block;
    font-size: $font-size-base - 2;
    line-height: $line-height-base - 2;
    padding: 5px 10px;

    @include breakpoint($desktop) {
      font-size: $font-size-base - 4;
      line-height: $line-height-base - 4;
      padding: 0 5px;
    }

    @include breakpoint($tablet) {
      font-size: $font-size-base;
      line-height: $line-height-base;
      padding: 29px 0;
      border-bottom: 1px solid $ebb;
    }

    &:hover {
      @include breakpoint($tablet) {
        font-family: $lato-regular;
        background: rgba(255, 255, 255, 0.9);
        box-shadow: -3px 0px 10px rgba(154, 74, 24, 0.15);
        border-bottom: none;
      }
    }
  }

  .btn-mobile {
    display: none !important;
    @include breakpoint($mobile) {
      display: flex !important;
    }
  }
}

.btn-group {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  max-width: 460px;
  width: 100%;
  flex-wrap: wrap;

  @include breakpoint($desktop) {
    max-width: 135px;
  }

  .btn-area {
    margin-bottom: 5px;
    margin-left: 16px;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      @include breakpoint($desktop) {
        display: none;
      }
    }
  }

  .custom-select {
    margin-bottom: 0;

    .selected-item {
      cursor: pointer;
      padding: 10px 18px;
      background: $white;
      border-radius: 4px;

      @include breakpoint($desktop) {
        padding:  7px 16px;
      }

      &:hover {
        background: linear-gradient(91.67deg, #EB800C 1.81%, #FABB35 97.99%);
        color: #fff;
        transition: all .50s;
      }
    }

    .all-items {
      margin-top: -2px !important;
      right: 0;
      left: auto;
    }

    .item {
      padding: 5px 10px;
      text-align: center;
    }
  }

  .selected-item {
    font-size: $font-size-base + 2;
    line-height: $line-height-base + 5;
    background: $transparent;
    padding: 0;
    box-shadow: none;
    margin-bottom: 0;

    &:after {
      display: none;
    }
  }

  .item {
    color: #000;

    @include breakpoint($desktop) {
      padding: 5px 7px;
    }
  }
}

.overlay {
  display: none;

  @include breakpoint($tablet) {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: 100;
  }
}

.menu-area {
  @include breakpoint($tablet) {
    width: 100%;
    height: 1000px !important;
    min-height: inherit;
    position: relative;
    z-index: 110;
  }
}

.show-menu {
  @include breakpoint($tablet) {
    right: 0;
  }

  .overlay {
    display: block !important;
  }
}

.btn-menu-wrap {
  display: none;
  position: absolute;
  top: 2px;
  right: 1px;
  width: 59px;
  height: 43px;
  @include border-gradient;

  @include breakpoint($tablet) {
    display: block;
  }
}

.btn-menu {
  display: none;
  position: absolute;
  top: 10px;
  right: 12px;
  height: 22px;
  width: 32px;
  cursor: pointer;
  transition: all .25s ease;
  z-index: 103;
  transform: rotate(180deg);
  background: $transparent;

  @include breakpoint($tablet) {
    display: block;
  }

  span {
    background: linear-gradient(180deg, #DF6418 0%, #FABB35 100%);
    border: none;
    height: 2px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .35s ease;
    cursor: pointer;
  }

  .middle {
    transform: translate(0, -50%);
    top: 50%;
    width: 100%;
  }

  .bottom {
    top: auto;
    bottom: 0;
    left: 3px;
    width: 80%;
  }

  .top {
    bottom: 0;
    width: 80%;
    left: 3px;
  }

  &.active {
    background: transparent;
    .top {
      transform: translateY(8px) translateX(0) rotate(45deg);
      top: 0;
      width: 100%;
    }

    .middle {
      opacity: 0;
    }

    .bottom {
      bottom: 4px;
      transform: translateY(-8px) translateX(0) rotate(-45deg);
      width: 100%;
    }
  }
}














