@import "mixin";
@import "variables";

.width-24 {
  width: 24px;

  @include breakpoint($desktop) {
    width: 16px;
  }
}

.width-120 {
  width: 120px;

  @include breakpoint($desktop) {
    width: 88px;
  }
}

.d-none-sm {
  @include breakpoint($mobile) {
    display: none;
  }
}

.d-none-xl {
  @include breakpoint($desktop) {
    display: none;
  }
}

.position-relative {
  position: relative;
}

.gradient_text {
  background: linear-gradient(180deg, #DF6418 0%, #FABB35 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.bg-white {
  background: $white;
}





