$desktop: 1334px;
$tablet: 1023px;
$mobile: 767px;

@mixin breakpoint($rule){
  @media only screen and (max-width: #{$rule}){
    @content;
  }
}

@mixin border-gradient {
  background: -webkit-gradient(linear, left top, left bottom, from(#FBF9F8), to(#FBF9F8)) padding-box, -webkit-gradient(linear, left top, left bottom, from(#EB800C), to(#FABB35)) border-box;
  background: -o-linear-gradient(#FBF9F8, #FBF9F8) padding-box, -o-linear-gradient(#EB800C 0%, #FABB35 100%) border-box;
  background: linear-gradient(#FBF9F8, #FBF9F8) padding-box, linear-gradient(#EB800C 0%, #FABB35 100%) border-box;
  border: 1px solid transparent;
  -webkit-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  border-radius: 5px;
}

@mixin transparent-text {
  font-size: $font-size-base + 5;
  line-height: $line-height-base + 6;
  font-family: $lato-extra-bold;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: $nobel;
  -webkit-text-fill-color: transparent;
  opacity: 1;
  position: relative;
}

@mixin gradient_text {
  background: linear-gradient(180deg, #DF6418 0%, #FABB35 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}