$transparent:          transparent;
$white:                #fff;
$spring-wood:          #fbf9f8;
$spring-wood-two:      #fefefd;
$ebb:                  #e8e4e2;
$black:                #000;
$mine-shaft:           #373737;
$tundora:              #474747;
$saffron:              #fabb35;
$yellow-orange:        #ffa23e;
$christine:            #eb800c;
$nobel:                #b4b4b4;


//font page
$base-font-default:    Lato-Light;
$lato-regular:         Lato-Regular;
$lato-bold:            Lato-Bold;
$lato-extra-bold:      Lato-ExtraBold;
$lato-black:           Lato-Black;

//Body
$base-text-color: $black;
$base-background: $spring-wood;
$base-font-family: $base-font-default;
$font-size-base: 20px;
$line-height-base: 24px;
$base-min-width: 320px