$transparent:          transparent;
$white:                #fff;
$spring-wood:          #fbf9f8;
$black:                #000;
$mine-shaft:           #373737;

//font page
$base-font-default:    Lato-Regular;
$lato-bold:            Lato-Bold;
$lato-light:           Lato-Light;
$lato-extra-bold:      Lato-ExtraBold;

//Body
$base-text-color: $mine-shaft;
$base-background: $spring-wood;
$base-font-family: $base-font-default;
$font-size-base: 20px;
$line-height-base: 24px;
$base-min-width: 320px